html {
  /*background-color: lightBlue;*/
  border-left: 5px solid orange;
  border-right: 5px solid orange;
  background-image: url('https://wallpaperstock.net/wallpapers/thumbs1/45258hd.jpg');
  height: contain;
}

.main {
  padding: 200px;
}
.calculate-methods {
  text-align: center;
  margin: 0px;
}

#calculate {
  font-family: 'Times New Roman';
  margin-left: 10px;
  background-color: orange;
  border-radius: 30px;
}

.input-fields {
  text-align: center;
  margin: 25px;
}

.input-fields input {
  border-color: orange;
  padding: 5px;
}
